# 1. Preprocessing

In [ ]:

# load libs
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

here() starts at H:/Dokumente/00_active-projects/2025_methods-website/setup_research-project

## Read Raw Data

In [ ]:

df_raw <- read_csv(here('data/raw/raw_example.csv'))

Rows: 32 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): car
dbl (11): mpg, cyl, disp, hp, drat, wt, qsec, vs, am, gear, carb

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     car                 mpg             cyl             disp
 Length:32          Min.   :10.40   Min.   :4.000   Min.   : 71.1
 Class :character   1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8
 Mode  :character   Median :19.20   Median :6.000   Median :196.3
                    Mean   :20.09   Mean   :6.188   Mean   :230.7
                    3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0
                    Max.   :33.90   Max.   :8.000   Max.   :472.0
       hp             drat             wt             qsec
 Min.   : 52.0   Min.   :2.760   Min.   :1.513   Min.   :14.50
 1st Qu.: 96.5   1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89
 Median :123.0   Median :3.695   Median :3.325   Median :17.71
 Mean   :146.7   Mean   :3.597   Mean   :3.217   Mean   :17.85
 3rd Qu.:180.0   3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90
 Max.   :335.0   Max.   :4.930   Max.   :5.424   Max.   :22.90
       vs               am              gear            carb
 Min.   :0.0000   Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4375   Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :1.0000   Max.   :5.000   Max.   :8.000

## Preprocess Data

In [ ]:

df_clean <-
  df_raw |>
  ## vs and and am are dichotomous -> change to logical values
  mutate(
    vs = as.logical(vs),
    am = as.logical(am)
  )

# examine cleaned data
summary(df_clean)

     car                 mpg             cyl             disp
 Length:32          Min.   :10.40   Min.   :4.000   Min.   : 71.1
 Class :character   1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8
 Mode  :character   Median :19.20   Median :6.000   Median :196.3
                    Mean   :20.09   Mean   :6.188   Mean   :230.7
                    3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0
                    Max.   :33.90   Max.   :8.000   Max.   :472.0
       hp             drat             wt             qsec
 Min.   : 52.0   Min.   :2.760   Min.   :1.513   Min.   :14.50
 1st Qu.: 96.5   1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89
 Median :123.0   Median :3.695   Median :3.325   Median :17.71
 Mean   :146.7   Mean   :3.597   Mean   :3.217   Mean   :17.85
 3rd Qu.:180.0   3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90
 Max.   :335.0   Max.   :4.930   Max.   :5.424   Max.   :22.90
     vs              am               gear            carb
 Mode :logical   Mode :logical   Min.   :3.000   Min.   :1.000
 FALSE:18        FALSE:19        1st Qu.:3.000   1st Qu.:2.000
 TRUE :14        TRUE :13        Median :4.000   Median :2.000
                                 Mean   :3.688   Mean   :2.812
                                 3rd Qu.:4.000   3rd Qu.:4.000
                                 Max.   :5.000   Max.   :8.000

## Save Processed Data

In [ ]:

write_csv(df_clean, here('data/processed/example.csv'))